# =========================
# Build folders
# =========================
bin/
obj/

# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.userprefs

# =========================
# Rider
# =========================
.idea/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# MAUI / Xamarin
# =========================
*.apk
*.aab
*.ipa
*.app

# Android
*.keystore
*.jks

# iOS / Mac
*.mobileprovision
*.p12
*.dSYM
*.xcuserstate

# =========================
# NuGet
# =========================
*.nupkg
packages/

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Temp files
# =========================
tmp/
temp/

# =========================
# Test results
# =========================
TestResults/

# =========================
# Generated images/cache
# =========================
*.cache

# =========================
# Local secrets
# =========================
secrets.json
appsettings.Development.json